<div class="page">

    <center><h1>Declaração</h1></center>
    <br>

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Nome da declaração</th>
        <th>Descrição declaração</th>
        <th colspan="3"></th>
      </tr>
    </thead>

  <tbody>
    <% @declarations.each do |declaration| %>
      <tr>
        <td><%= declaration.declaration_name %></td>
        <td><%= declaration.description %></td>
        <td><%= link_to t('app.export'), export_declaration_path(declaration), target: "_blank", class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <span>

    <img alt="image" id="logo" src="<%= image_url 'logotj.png'  %>"/>
  </span>
  <br>
